<!DOCTYPE html>
<html lang="en" ng-app="githubViewer">
<head>
    <meta charset="UTF-8">
    <title>GitHub Viewer</title>
    <script data-require="angular.js@*" data-semver="1.2.20" src="https://code.angularjs.org/1.2.20/angular.js"></script>
    
    <script src="script.js"></script>
</head>
<body ng-controller="MainController">
    <h1>{{ message }}</h1>

    <div>{{ error }}</div>

    <!-- ng-submit calls function defined on model -->
    <form name="searchUser" ng-submit="search(username)">
        <!-- ng-model sends data to model and vice versa -->
        <input type="search" required placeholder="Username to find" ng-model="username">
        <input type="submit" value="Search">
    </form>

    <div>
        <h2>Name: {{user.name}}</h2>
        <img ng-src="{{user.avatar_url}}" title="{{user.name}}">
    </div>

    <!-- table looping through data using ng-repeat -->
    <!-- filter number is used for the repo.stargazers_count expression -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Stars</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos">
                <td>{{repo.name}}</td>
                <td>{{repo.stargazers_count | number}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>
    </table>

</body>
</html>